@font-face {
    font-family: 'Harabara';
    src: url('../assets/list-font/Harabara.ttf');
}

@font-face {
    font-family: 'Artificial';
    src: url('../assets/list-font/Artificial.ttf');
}

@font-face {
    font-family: 'Monterey';
    src: url('../assets/list-font/MontereyMediumFLF.ttf');
}

@font-face {
    font-family: 'Monterey-slim';
    src: url('../assets/list-font/MontereyFLF.ttf');
}

@font-face {
    font-family: 'Robotocon';
    src: url('../assets/list-font/RobotoCondensed-Regular.ttf');
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 3 !important;
    /* border: 1px solid blue; */
}

nav .nav-name {
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    color: rgb(5, 180, 5);
    font-size: 25px;
    font-family: 'Monterey';
    font-weight: bold;
}

nav .img-nama {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 20px;
    align-items: center;
    /* border: 1px solid green; */
}

nav .navhome-img {
    width: 50px;
}

.olnav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    gap: 100px;
    padding-right: 130px;
    flex-wrap: wrap;
    align-items: center;
    /* border: 1px solid red; */
}

.olnav li {
    font-family: 'Monterey-slim';
    cursor: pointer;
    display: inline-block;
    height: 30px;
    width: 100px;
    text-align: center;
    align-content: center;
    border-radius: 20px;
    color: rgb(5, 180, 5);
    margin-top: 1px;
    background-color: none;
    font-size: 20px;
}

.olnav li:hover{
    color: rgb(207, 236, 207);
    background-color: limegreen;
}

.olnav .contact-button {
    background: none;
    font-family: 'Monterey-slim';
    box-shadow: none;
    outline: none;
    color: rgb(5, 180, 5);
    font-size: 20px;
    border: none;
    /* border: 1px solid black; */
    cursor: pointer;
    padding: 0;
    width: 95px;
    height: 30px;
    margin-bottom: 0;
    border-radius: 20px;
}

.olnav .contact-button:hover {
    color: rgb(207, 236, 207);
    background-color: limegreen;   
}

.navDropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55px;
    min-width: 120px;
    right: 115px;
    height: 60px;
    /* padding: 10px; */
    /* border: 1px solid black; */
}

.navDropdown a {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    display: inline-block;
    color: black;
    height: 80px;
    border-bottom: 1px solid limegreen;
    background-color: rgb(192, 255, 180);
    font-family: 'Courier New', Courier, monospace;
}

.navDropdown a:hover {
    background-color: gainsboro;
}