html body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

*:not(.containerTrail):not(.wrap-profile):not(.wrap-project) {
  z-index: 2;
}

@font-face {
  font-family: 'Harabara';
  src: url('../assets/list-font/Harabara.ttf');
}

@font-face {
  font-family: 'Artificial';
  src: url('../assets/list-font/Artificial.ttf');
}

@font-face {
  font-family: 'Monterey';
  src: url('../assets/list-font/MontereyMediumFLF.ttf');
}

@font-face {
  font-family: 'Monterey-slim';
  src: url('../assets/list-font/MontereyFLF.ttf');
}

@font-face {
  font-family: 'Robotocon';
  src: url('../assets/list-font/RobotoCondensed-Light.ttf');
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  margin: 0 !important;
  background: rgb(245, 255, 244);
  z-index: 2;
}

.bgLoader {
  background: rgb(71, 109, 79);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 15px;
  animation: removeLoader 10s ease-in-out infinite;
}

@keyframes removeLoader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hoverBtntoTop:hover {
  opacity: .5;
  background-color: darkgreen;
}